google-adk>=1.19.*
openinference-instrumentation-google-adk>= 0.1.*
openinference-instrumentation-openai>=0.1.40
arize-phoenix-otel>=0.13.1
daytona>=0.115.2
litellm>=1.80.0
openai>=2.8.1
polars>=1.35.2